body {
  font: #222; }

#top-nav ul li a {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  height: 40px;
  margin: 0;
  text-align: center;
  width: 40px; }

nav a {
  font-family: 'Oxygen', san-serif;
  font-weight: 700; }

nav a:hover {
  color: #767676; }

nav img {
  width: 125px; }

nav #nav2 {
  margin-left: auto !important; }

.borders {
  border-bottom: 1px solid #b3b3c2;
  border-top: 1px solid #b3b3c2; }

.borders:before {
  border-bottom: 1px solid #b3b3c2;
  border-top: 1px solid #b3b3c2;
  bottom: 5px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 5px;
  z-index: -1; }

.custom-logo-link {
  -webkit-transform: translateX(-50%);
  bottom: -33.8px;
  left: 50%;
  margin: 0;
  padding: 0 3vw !important;
  position: absolute;
  transform: translateX(-50%);
  z-index: 3; }

button {
  background-color: #020036; }

#showcase {
  position: relative;
  min-height: 100%;
  background: url("../img/cb-clash-family.jpg") no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: left;
  font-family: 'Oxygen', san-serif; }
  #showcase em {
    font-family: 'Lobster', san-serif; }
  #showcase p {
    width: 60%; }

#course .course {
  display: inline-block;
  margin-left: 0px;
  position: relative; }
  #course .course .grad {
    position: absolute;
    width: 20%;
    height: auto;
    left: -100px; }
  #course .course .banner {
    width: 80%; }
  #course .course p {
    width: 80%; }
  #course .course .banner img {
    border-left: 2px solid #020036; }

#course .cta {
  position: relative;
  max-width: 100%;
  height: auto;
  left: 0px;
  top: -22px; }

#purple {
  width: 100%;
  height: 200px;
  background-color: #020036; }

#options {
  font-family: 'Oxygen', san-serif; }

#wealth {
  background-image: url(../img/cb-business.jpg);
  border: 1px solid #020036;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16)) drop-shadow(0 3px 6px rgba(0, 0, 0, 0.23));
  margin: 90px 0;
  max-width: 100%;
  min-height: 230px;
  padding: 30px;
  position: relative;
  left: 0px;
  background-position: center;
  background-size: cover; }
  #wealth .wealth {
    background: #4c4c4c;
    border: 1px solid #4c4c4c;
    color: #fff;
    display: block;
    left: -1px;
    padding: 10px 55px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -55px; }
  #wealth p {
    width: 75%; }
  #wealth button {
    background-color: #020036; }

#single-course {
  background-image: url(../img/cb-package-bg.jpg);
  border: 1px solid #020036;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16)) drop-shadow(0 3px 6px rgba(0, 0, 0, 0.23));
  max-width: 100%;
  position: relative;
  top: 100px;
  left: 0px; }
  #single-course .single {
    background: #4c4c4c;
    border: 1px solid #4c4c4c;
    color: #fff;
    left: -1px;
    padding: 10px 55px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -55px; }
  #single-course button {
    background-color: #020036; }
  #single-course .beginner {
    position: relative;
    max-width: 100%;
    height: auto;
    padding: 50px 20px; }
  #single-course .vtf {
    position: relative;
    padding: 50px 20px;
    max-width: 100%;
    height: auto;
    left: 0px; }

#academy {
  background-image: url("../img/cb-academy.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 850px;
  padding-top: 20px; }

.stepList {
  border-left: 1px solid #020036; }

.stepList li {
  list-style-type: none;
  margin-bottom: 30px;
  margin-left: 12px;
  position: relative; }

.stepList li:before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  content: '';
  display: block;
  height: 100px;
  left: -100px;
  position: absolute;
  top: -30px;
  width: 65px; }

.stepList li:after {
  background: #020036;
  border-radius: 50%;
  content: ' ';
  height: 7px;
  left: -16px;
  position: absolute;
  top: 11px;
  width: 7px; }

button {
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  max-width: 270px;
  padding: 8px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s all ease-in-out;
  white-space: nowrap;
  width: 100%; }

#panel h1 {
  padding-top: 150px;
  padding-right: 200px; }

.purpleBtn {
  background-color: #020036 !important;
  border-color: #020036 !important; }

a {
  color: white; }

.step1Icon:before {
  background-image: url("../svg/step1-icon.svg"); }

.step2Icon:before {
  background-image: url("../svg/step2-icon.svg"); }

.step3Icon:before {
  background-image: url("../svg/step3-icon.svg"); }

.step4Icon:before {
  background-image: url("../svg/step4-icon.svg"); }

.step5Icon:before {
  background-image: url("../svg/step5-icon.svg"); }

.step6Icon:before {
  background-image: url("../svg/step6-icon.svg"); }
