body {
    font: #222;
}
#top-nav {
   ul li a{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 40px;
    margin: 0;
    text-align: center;
    width: 40px;
   } 
}
nav a{
    font-family:'Oxygen', san-serif;
    font-weight: 700;
}

nav a:hover{
    color: #767676;
}

nav {
    img {
        width: 125px;
    }
    #nav2{
        margin-left: auto !important;
    }
}

#showcase{
    position: relative;
    min-height: 100%;
    background: url('../img/cb-clash-family2.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: left;
    font-family:'Oxygen', san-serif;
        em{
            font-family:'Lobster', san-serif;
        }
        blockquote {
            width: 50%;
        }
}

#course {
        .course {
            display: inline-block;
            margin-left: 160px;
            max-width: 45%;
            position: relative;
            width: 100%;
                .grad{
                    position: absolute;
                    max-width: 100%;
                    height: auto;
                    left: -160px;
                } 
        }
        .cta {
            position: relative;
            right:-50px; 
            top: -22px;
        } 
}

#purple {
    width: 100%;
    height:200px;
    background-color: purple;
}

#path {
    font-family:'Oxygen', san-serif;
}
// hr{ 
    
//     border: none;
//     border-left: 2px solid purple;
//     height: 20vh;      
// }